In [10]:
class cat:
    pass

In [ ]:
class cat:
    def __init__(self, name, age):
     self.name = name
     self.age = age
     print(self.name, self.age)
cat1= cat('Furry',2)
cat.sp

Furry 2

In [15]:
class cat:
    species = 'Felis catus'
    def __init__(self, name, age):
     self.name = name
     self.age = age

In [22]:
class Cat:
  species = 'Felis Catus'
  def __init__(self,name, age):
    self.name = name
    self.age = age
    print(self.name, self.age)

print(Cat.species)
cat1 = Cat('Cati',3)
cat1.species = 'Felis cati'
print(cat3.species)

Felis Catus
Cati 3
Felis cati

In [24]:
class Account:
    def __init__(self, name, ids, index=0, balance=0.0):
        self.name = name
        self.ids = ids
        self.index = index
        self.balance = balance
    def total_user_balance(self):
        return self.index * self.balance

account1 = Account('Peter Parker',1001, 2, 20000)
print(account1.total_user_balance())

account2 = Account('Steve Rodger',100)
print(account2.total_user_balance())

40000
0.0

In [26]:
class DematAccount(Account):
  
  def __init__(self, name: str, ids: int, index=0, balance=0.0, number_shares=0):
    # validate the new attribute specific to demat_account
    assert number_shares >= 0, f'Number of shares {number_shares}is not greater that or equal to zero'

    #Call the parent class constructor
    super().__init__(name, ids, index, balance)

    #Assign the new attribute
    self.number_shares =number_shares



  #Creating instances
demat1= DematAccount('Bruce Banner',4001, 1, 25000, 5)
demat2= DematAccount('Nick Fury',4002, 1, 75000, 12)
print(demat1.number_shares)
print(demat2.total_user_balance())

5
75000